<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid px-md-5">
        <a class="navbar-brand d-flex align-items-center" href="/properties">
            <i class="fa-solid fa-compass fa-lg me-2 text-primary"></i>
            <span class="fw-bold">A-360</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="/properties">Explore Properties</a>
                </li>
            </ul>
            <div class="navbar-nav ms-auto">
                <ul class="navbar-nav ms-auto">
        <% if(!currUser) { %>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
        <% } %>

        <% if(currUser) { %>
          <% if(currUser.role === 'admin') { %>
            <li class="nav-item">
              <a class="nav-link text-primary fw-bold" href="properties/admin/dashboard">Admin Panel</a>
            </li>
          <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/properties/my-submissions">My Submissions</a>
            </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="/logout">Logout</a>
          </li>
        <% } %>
      </ul>
            </div>
        </div>
    </div>
</nav>