/* Starability Basic */
.starability-basic {
  display: block;
  position: relative;
  width: 150px;
  min-height: 35px;
  border: none;
  padding: 0;
  margin: 0;
}

.starability-basic > input {
  position: absolute;
  margin-right: -100%;
  opacity: 0;
}

.starability-basic > label {
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
  color: transparent;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ccc' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

/* Hover and Checked states */
.starability-basic > input:checked ~ label,
.starability-basic > label:hover ~ input:checked ~ label,
.starability-basic > label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f1c40f' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3E%3C/svg%3E");
}

/* Static Rating Result (Displaying the stars) */
.starability-result {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ccc' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3E%3C/svg%3E");
  background-size: 30px;
  background-repeat: repeat-x;
}

.starability-result::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f1c40f' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3E%3C/svg%3E");
  background-size: 30px;
  background-repeat: repeat-x;
}

.starability-result[data-rating="1"]::after { width: 30px; }
.starability-result[data-rating="2"]::after { width: 60px; }
.starability-result[data-rating="3"]::after { width: 90px; }
.starability-result[data-rating="4"]::after { width: 120px; }
.starability-result[data-rating="5"]::after { width: 150px; }