<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2 text-center">
        <h1>Welcome to A-360</h1>
        <p class="lead">Relocation Simplified. Properties, Movers, and Furniture in one place.</p>
        <button class="btn btn-primary btn-search">Explore Now</button>
    </div>
</div>